.top-button {
  margin-bottom: 16px;
  margin-top: 16px;
}

.tables {
  padding-top: 20px;
  padding-bottom: 100px;
  max-width: 1024px;
  margin: 0 auto;
}

.table-wrap {
display: inline-table;
width: 100%;
}

.tab button {
  font-family: 'Open Sans', sans-serif;
  color: var(--primary);
  font-size: 20px;
  font-weight: bolder;
}

table {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: var(--body);
    font-size: 18px;
    border="0";
    cellspacing="0";
    cellpadding="0";
}

tr:first-child {
  background-color: #FFF3D8;
  font-family: 'Poppins', sans-serif;
  color: var(--primary);
  font-size: 20px;
  font-weight: 900;
}

tr:nth-child(even) {
  background-color: #FBFBFB;
}

td {
  padding: 8px;
  height: 30px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 14px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}



/* Tabs */

.tabButton {
  display: none;
}

/* Accordion */

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-family: 'Open Sans', sans-serif;
    color: var(--primary);
    font-size: 20px;
    font-weight: bolder;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.div-horizontal-scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

#table-scroll {
  display: inline-block;
}


/* ------------------------------------------------------- */
/* Tablet */
@media (max-width:877px) {


.table-wrap h1 {
    font-size: 12vw;
    line-height: 120%;
}


  .tables {
    padding-top: 20px;
    padding-bottom: 100px;
    max-width: 90%;
    margin: 0 auto;
  }

  table {
    overflow-x:auto;
  }



  td:nth-child(6) {
    display: none;
  }

  td:nth-child(7) {
    display: none;
  }


  td:nth-child(8) {
    display: none;
  }


  td:nth-child(10) {
    display: none;
  }

  /* Tabs */

  .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
      width: 100%;
  }

  .tab button.active {
      background-color: #ccc;
      width: 100%;
  }

  .navbar a, .dropdown .dropbtn {
    display: none;
  }

    .tabButton {
      display: block;
    }

      /* Tab Dropdown */


    .tabDropdown {
      overflow: hidden;
    }

    #show-style {
      font-family: 'Open Sans', sans-serif;
      color: var(--primary);
      font-size: 20px;
      font-weight: bolder;
      width: 100%;
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
      float: left;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
    }

    .tabDropdown .dropbtn {
      font-size: 18px;
      border: none;
      outline: none;
      color: var(--secondary);
      font-weight: 800;
      padding: 18px 18px 18px 18px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }

    .tabDropdown:hover {
      background-color: var(--hover);
    }

    .tab-content {
      display: none;
      position: absolute;
      background-color: var(--white);
      min-width: 160px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
      z-index: 1;
    }

    .tab-content a {
      float: none;
      color: var(--primary);
      padding: 18px 18px 14px 18px;
      text-decoration: none;
      display: block;
      text-align: left;
    }

    .tab-content a:hover {
      background-color: #eeeeee;
    }

    .tabDropdown:hover .tab-content {
      display: block;
      position: inherit;
      z-index: 2;
    }


}
